<header>

        <div class="con">


            <div class="item"> <a href="/register"><img src="#" alt=""> Register </a></div>
            <div class="item"> <a href="#"> <img src="contacts.svg" alt=""> Contacts </a> </div>
            <div class="item"> <a href="#"><img src="about.svg" alt=""> About us </a> </div>
            <div class="item"> <a href="#"> <img src="help.svg" alt=""> Help </a></div>
            <div class="item"> <a href="#"> <img src="sign.svg" alt=""> Sign </a> </div>

        </div>
    </header>
    <style>
    
.con{
    display: flex;
height: 53px;
width: 100%;
   background-color: brown;
   
}
.item{
    
    margin-top: 12px;
    margin-left: 15px;
    
}
a{
    color: rgb(202, 199, 196);
   
    font-size: 19px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    
}
a:hover{
    
    background-color: rgb(85, 62, 51);
    border: 1px solid ;
    border-radius: 10px;
    
}
.se{
    
    z-index: 10;
    
}
img{
    margin-top: 2px;
}
.se{
    display: flex;

margin-top: 30px;
}
.sid{
text-align: center;
border: 2px solid red;
border-radius: 30px;
width: 30%;
margin: auto;
height: 30rem;
padding: 10px;

}
#burgur{
    color: rgb(192, 62, 62);
    background-image: url(bugur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all ease 1s;
}
#burgur:hover{
    transform: scale(1.05);
}
#pizza{
    color: rgb(218, 68, 68);
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all ease 1s;
}
#pizza:hover{
    transform: scale(1.05);
}
.sec-1{
    color: white;
    background-color: rgb(56, 50, 50);
    margin-top: 30px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.con-1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    height: 30vh;
}

.one{
    display: flex;
    flex-direction: column;
   
    background-color: tomato;
    border: 1px solid red;
    border-radius: 30px;
text-align: center;
padding: 20px;
transition: all ease 1s;
cursor: pointer;
}
.one:hover{
    transform: scale(1.05);
}
footer{

   
    margin-top: 10px;
   
}
.foo{
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.int{
    
    display: block;
    text-align: center;
    margin-top: 15px;
    height: 5vh;
    width: 30vw;
    border: 0px solid white;
    border-radius: 40px;
    transition: all ease 1s;
}
.int:hover{

margin-left: 20px ;
}

    </style>